{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["sort-class-members"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-default-export": "error"
  }
}
